# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
out
dist
build

# Turbo
.turbo

# Env files
.env
.env.local
.env.*.local

# System
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
pnpm-debug.log*
*.log

# TypeScript
*.tsbuildinfo
next-env.d.ts
